<div class="container-fluid" style="margin: 30px; text-align: center;">
  <h1>Edit medication</h1>
</div>

<form #editBookForm="ngForm" (ngSubmit)="editBook(editBookForm)">
    <!-- <div class="container container-margin">
      <div class="row">
        <div class="col-12 col-md-8">
          <div class="form-group">
            <label for="med_name">Name</label>
            <input type="text" class="form-control" #med_name="ngModel" id="med_name" required [(ngModel)]="model.name" name="med_name" placeholder="{{ model?.name }}">
          </div>
        </div>
  
        <div class="col-6 col-md-4">
          <div class="form-group">
            <label for="quantity">Author</label>
            <input type="text"  class="form-control" #quantity="ngModel" id="quantity" type="number" [(ngModel)]="model.author" name="quantity" placeholder="{{ model?.author }}">
          </div>
        </div>
      </div>
      
      <div class="form-group">
        <label for="description">Genre</label>
        <input type="text"  class="form-control" #description="ngModel" id="description" [(ngModel)]="model.genre" name="description" placeholder="{{ model?.genre }}"> 
      </div> -->

      <div class="container container-margin">

        <div class="form-group">
          <label for="book_name">Name</label>
          <input type="text" class="form-control" #book_name="ngModel" id="book_name" required [(ngModel)]="model.name" name="book_name" placeholder="{{ model?.name }}">
        </div>
    
        <div class="row">
          <div class="col-12 col-md-8">
            <div class="form-group">
              <label for="author">Author</label>
              <input type="text"  class="form-control" #author="ngModel" id="author" type="text" [(ngModel)]="model.author" name="author" placeholder="{{ model?.author }}">
            </div>
          </div>
    
          <div class="col-6 col-md-4">
            <div class="form-group">
              <label for="genre">Genre</label>
              <select class="form-control form-select form-select-sm" [(ngModel)]="model.genre" name="genre">
                <option *ngFor="let genre of allGenres" [ngValue]="genre">{{genre}}</option>
              </select>
            </div> 
          </div>
        </div>

        <div class="form-group">
          <label for="stock">Stock</label>
          <input type="number"  class="form-control" #stock="ngModel" id="stock" [(ngModel)]="model.booksInStock" name="stock" placeholder="{{ model?.booksInStock }}"> 
        </div>

      <div class="form-group">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Edit book</button>
      </div>
    </div>
  </form>